aiofiles==24.1.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiosignal==1.3.2
aiosqlite==0.21.0
annotated-types==0.7.0
anyio==4.8.0
attrs==25.1.0
Automat==24.8.1
beautifulsoup4==4.13.3
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
constantly==23.10.4
Crawl4AI==0.4.248
cryptography==44.0.2
cssselect==1.2.0
defusedxml==0.7.1
distro==1.9.0
duckduckgo_search==7.5.0
fake-http-header==0.3.5
fake-useragent==2.0.3
filelock==3.17.0
frozenlist==1.5.0
fsspec==2025.2.0
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.7
httpx==0.27.2
huggingface-hub==0.29.1
hyperlink==21.0.0
idna==3.10
importlib_metadata==8.6.1
incremental==24.7.2
itemadapter==0.11.0
itemloaders==1.3.2
Jinja2==3.1.5
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
langchain==0.3.20
langchain-core==0.3.42
langchain-openai==0.3.8
langchain-text-splitters==0.3.6
langgraph==0.3.5
langgraph-checkpoint==2.0.17
langgraph-prebuilt==0.1.2
langgraph-sdk==0.1.55
langsmith==0.3.12
litellm==1.62.1
lxml==5.3.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
networkx==3.4.2
nltk==3.9.1
numpy==2.2.3
openai==1.65.2
orjson==3.10.15
packaging==24.2
pandas==2.2.3
parsel==1.10.0
pillow==10.4.0
playwright==1.50.0
primp==0.14.0
propcache==0.3.0
Protego==0.4.0
psutil==7.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
PyDispatcher==2.0.7
pyee==12.1.1
Pygments==2.19.1
pyOpenSSL==25.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
PyYAML==6.0.2
queuelib==1.7.0
rank-bm25==0.2.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-file==2.1.0
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.23.1
safetensors==0.5.3
Scrapy==2.12.0
service-identity==24.2.0
setuptools==75.8.2
six==1.17.0
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.6
SQLAlchemy==2.0.38
sympy==1.13.1
tenacity==9.0.0
tf-playwright-stealth==1.1.2
tiktoken==0.9.0
tldextract==5.1.3
tokenizers==0.21.0
torch==2.6.0
tqdm==4.67.1
transformers==4.49.0
Twisted==24.11.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
w3lib==2.3.1
xxhash==3.5.0
yarl==1.18.3
zipp==3.21.0
zope.interface==7.2
zstandard==0.23.0
